torch
pykan
pandas
polars
pyarrow
matplotlib
seaborn
scipy
rdkit
tqdm
scikit-learn
xgboost
chemprop>=2.2.0
pysr
tabicl
tabpfn
unimol_tools
umap-learn

# For gpu only
# Move to seperate file later
# cuml-cu13